<%@ page language="java" contentType="text/html; charset=utf-8"
	pageEncoding="utf-8"%>
<meta charset="utf-8">
<div class="jumbotron text-center" style="margin: 100px 0px 0px 0px">
	<p>@ 190110910508-19计算机2班-胡孟帆</p>
	<a href="https://pan.baidu.com/s/1_iST0bRcsGUEwS9nbxSD1g">项目说明书下载_提取码:webb</a>
</div>