<!DOCTYPE html>
<html>
<head>
<title>菜品信息</title>
<%-include('bt.ejs')%>
</head>
<body style="background:url(photo/bg.jpg)">
	<%-include('nav.ejs')%>
	<div class="container">
		<!-- 内容  -->
		<div class="row" style="margin-top: 10px">
			<%-include('lf.ejs')%>


			<div class="col-lg-9">


				<div class="card">
					<div class="card-header">菜品信息</div>
					<div class="card-body">

						<div>
							<h2>菜品信息：</h2>
							<div class = "row">
							<div class = "col-lg-8">
								</div>
								<div class = "col-lg-8">
									<p>菜品名称:${food.foodname}</p>
									<p>餐厅售价:${food.saleprice}</p>
									<p>烹饪时间:${food.cooking_time}</p>
									<p>获得途径:${food.access}</p>
									<p>所需材料:${food.materials}</p>
									<p>稀有度:${food.rarity}</p>
									<p>图像:<img src="/photos/${food.photo}" height=200px></p>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<%-include('bottom.ejs')%>

</body>
</html>