
<div class="col-lg-3">

			<!-- 左边栏 -->
				<div class="list-group" style="width: 12rem;position:fixed">
					<a href="index.ejs" class="list-group-item list-group-item-action active" >首页</a>
					<a href="login.ejs" class="list-group-item list-group-item-action">用户登录</a>
					<a href="reg.ejs" class="list-group-item list-group-item-action">用户注册</a>
					<a href="userlist.ejs?page=1" class="list-group-item list-group-item-action">用户列表</a>
					<a href="friendlist.ejs" class="list-group-item list-group-item-action">好友列表</a>
					<a href="mymessage.ejs" class="list-group-item list-group-item-action">我的消息</a>	
					<a href="plant.ejs?page=1" class="list-group-item list-group-item-action">植物图鉴</a>
					<a href="/Logout" class="list-group-item list-group-item-action">注销</a>
				</div>
			
</div>
