
<div class="col-lg-3">
	<div class="card" style="width: 18rem;position:fixed" >
		<img class="card-img-top"
			src = "/photos/未登录图像.jpg">
		<div class="card-header">
			<h1>扫一扫加入吧</h1>
		</div>
	</div>
</div>