<%@ page language="java" contentType="text/html; charset=utf-8"
	pageEncoding="utf-8"%>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">${title}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="navbar-brand"> <img
					src="photo/logo.png" width="70" height="70" alt=""> 摩尔庄园信息图鉴
			</a></li>
			<li class="navbar-text"><a class="nav-link"
				href="https://mole.leiting.com/home">官网首页</a></li>
			<li class="navbar-text dropdown"><a
				class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
				role="button" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">${molename==null?"未登录":molename}</a> <c:if
					test="${molename!=null}">
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="Myinfo">我的信息</a> 
						<a class="dropdown-item" href="MyMessage?page=1">我的消息</a>
						<a class="dropdown-item" href="vip.jsp">我的会员</a>
						<a class="dropdown-item" href="AllFriend?page=1">我的好友</a>
						<a class="dropdown-item" href="setpwd.jsp">修改密码</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="Logout">注销</a>
					</div>
				</c:if></li>
		</ul>
		<form class="form-inline my-2 my-lg-0" method="post" action="Search">
			<input class="form-control mr-sm-2" type="search" name="Search"
				placeholder="搜索" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
		</form>
	</div>
</nav>