<!DOCTYPE html>
<html>
<head>
<title>植物图鉴</title>
<%-include('bt.ejs')%>
</head>
<body
	style="background-image: url(photo/bg.jpg); background-repeat: no-repeat; backgroung-attachment: fixed">
	<%-include('nav.ejs')%>
	<div class="container">
		<div class="row" style="margin-top: 10px">
			<%-include('lf.ejs')%>
			<div class="col-lg-9">
				<div class="card-deck" style="width: 850px;">
					<c:forEach items="${plantList}" var="plant" varStatus="i">
						<div class="col-lg-3">
							<div class="card">
								<img class="card-img-top" src="/photos/${plant.photo}" height=150px width=150px alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title">${plant.plantname}</h5>
									<a href="PlantInfo?plantname=${plant.plantname}">查看详细信息</a>
								</div>
							</div>
							<c:if test="${i.count % 5 == 0}">
								<br></br>
								<br></br>
								<div class="card-deck" style="width: 850px;">
	
								</div>
						
							</c:if>
						</div>
					</c:forEach>
				</div>	
				<nav aria-label="Page navigation example" style="margin-top: 20px">
						<ul class="pagination justify-content-center">
							<c:if test="${page==1}">
								<li class="page-item disabled"><a class="page-link"
									href="#"> 上一页</a></li>
							</c:if>
							<c:if test="${page!=1}">
								<li class="page-item"><a class="page-link"
									href="AllPlant?page=${page-1}"> 上一页</a></li>

							</c:if>
							<li class="page-item"><a class="page-link"
								href="AllPlant?page=${page}"> ${page}</a></li>
							<c:if test="${page!=mostpage}">
								<li class="page-item"><a class="page-link"
									href="AllPlant?page=${page+1}"> 下一页</a></li>
							</c:if>
							<c:if test="${page==mostpage}">
								<li class="page-item disabled"><a class="page-link"
									href="#"> 下一页</a></li>

							</c:if>
							<a type="button" class="btn btn-primary" href="addplant.jsp">添加图鉴</a>
						</ul>
						
					</nav>
					
					
			</div>

		</div>

	</div>
	<%-include('bottom.ejs')%>

</body>
</html>